## **Michelin Star Restaurants**

## **Imports**

In [1]:
#Numpy
import numpy as np

#Pandas
import pandas as pd

#Seaborn
import seaborn as sns

#matplotlib
import matplotlib.pyplot as plt
import plotly

### **Loading in Datasets**

In [2]:
m1 = pd.read_csv('one-star-michelin-restaurants.csv')
m2 = pd.read_csv('two-stars-michelin-restaurants.csv')
m3 = pd.read_csv('three-stars-michelin-restaurants.csv')

In [3]:
m1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 549 entries, 0 to 548
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       549 non-null    object
 1   year       549 non-null    int64
 2   latitude   549 non-null    float64
 3   longitude  549 non-null    float64
 4   city       547 non-null    object
 5   region     549 non-null    object
 6   zipCode    400 non-null    object
 7   cuisine    549 non-null    object
 8   price      398 non-null    object
 9   url        549 non-null    object
dtypes: float64(2), int64(1), object(7)
memory usage: 43.0+ KB

In [4]:
m1['city'].value_counts()

New York         55
San Francisco    42
Hong Kong        42
Singapore        34
Bangkok          21
                 ..
Anstruther        1
Peat Inn          1
Dalry             1
Waternish         1
Fence             1
Name: city, Length: 164, dtype: int64

In [5]:
m1['price'].value_counts()

$$$      129
$$$$     124
$$        67
$$$$$     49
$         29
Name: price, dtype: int64

In [6]:
m2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110 entries, 0 to 109
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       110 non-null    object
 1   year       110 non-null    int64
 2   latitude   110 non-null    float64
 3   longitude  110 non-null    float64
 4   city       110 non-null    object
 5   region     110 non-null    object
 6   zipCode    77 non-null     object
 7   cuisine    110 non-null    object
 8   price      90 non-null     object
 9   url        110 non-null    object
dtypes: float64(2), int64(1), object(7)
memory usage: 8.7+ KB

In [7]:
m2['city'].value_counts()

New York                  14
Hong Kong                 12
San Francisco              7
Los Angeles                6
Seoul                      5
Taipei                     5
Mayfair                    5
Macau                      5
Singapore                  5
Bangkok                    4
Wien                       4
Chicago                    3
København                  3
Stockholm                  2
Salzburg                   2
North Kensington           2
Washington, D.C.           2
Great Milton               1
Port Isaac                 1
Nottingham                 1
Cambridge                  1
Cartmel                    1
Marlow                     1
Aughton                    1
Summerhouse                1
Bloomsbury                 1
Hyde Park                  1
Järpen                     1
Auchterarder               1
Skåne-Tranås               1
Malmö                      1
São Paulo - 01411          1
São Paulo - 05416          1
Rio de Janeiro - 22441     1
City Centre                1
Budapest                   1
Athína                     1
Henne                      1
Leynar                     1
South San Francisco        1
Chelsea                    1
Name: city, dtype: int64

In [8]:
m3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       36 non-null     object
 1   year       36 non-null     int64
 2   latitude   36 non-null     float64
 3   longitude  36 non-null     float64
 4   city       36 non-null     object
 5   region     36 non-null     object
 6   zipCode    24 non-null     object
 7   cuisine    36 non-null     object
 8   price      31 non-null     object
 9   url        36 non-null     object
dtypes: float64(2), int64(1), object(7)
memory usage: 2.9+ KB

In [9]:
m3['city'].value_counts()

Hong Kong              7
San Francisco          6
New York               5
Macau                  3
Seoul                  2
Bray                   2
Mayfair                2
Wien                   1
South San Francisco    1
Chicago                1
København              1
Oslo                   1
Stockholm              1
Taipei                 1
Washington, D.C.       1
Chelsea                1
Name: city, dtype: int64